{# Formulaire type servant à contenir les informations d'une nouvelle demande de service et à envoyer à l'administrateur du site #}

<h1>Nouvelle demande de service</h1>

<p>De : {{ prenom }} {{ nom }} </p>

<p>Pour: {{ description|raw }}</p>

<p>A effectuer à l'adresse: {{ adresse }}</p>

<p>Informations de contact : </p>

<p>{{ mail }}</p>

<p> {{telephone}} </p>