{# Formulaire type servant à contenir le rappel de prochains services à envoyer l'administrateur du site #}

<h1>Rappel: service à effectuer dans 2 jours</h1>

<p>Chez : {{ prenom }} {{ nom }} </p>

<p>Pour: {{ description|raw }}</p>

<p>A effectuer à l'adresse: {{ adresse }}</p>

<p>Informations de contact : </p>

<p> {{telephone}} </p>