{% extends 'base.html.twig' %}

{% block title %}Demande de Service{% endblock %}

{% block body %}
    <h1 class="text-center" style="margin-top:20px">Fiche de la demande de service</h1>

    <table class="table">
        <tbody>
            {#<tr>
                <th>IdDemandeService</th>
                <td>{{ demande_de_service.idDemandeService }}</td>
            </tr>#}
            <tr>
                <th>Nom</th>
                <td>{{ demande_de_service.nom }}</td>
            </tr>
            <tr>
                <th>Prénom</th>
                <td>{{ demande_de_service.prenom }}</td>
            </tr>
            <tr>
                <th>Adresse</th>
                <td>{{ demande_de_service.adresse }}</td>
            </tr>
            <tr>
                <th>Téléphone</th>
                <td>{{ demande_de_service.telephone }}</td>
            </tr>
            <tr>
                <th>Courriel</th>
                <td>{{ demande_de_service.courriel }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ demande_de_service.description }}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{{ demande_de_service.dateHeure ? demande_de_service.dateHeure|date('Y-m-d') : '' }}</td>
            </tr>
            {#<tr>
                <th>Statut</th>
                <td>{{ demande_de_service.statut ? 'Yes' : 'No' }}</td>
            </tr>#}
        </tbody>
    </table>

    <a href="{{ path('demande_service') }}"><span style='font-size:40px;'>&#9664;</span></a>  

     

        {# {{ include('demande_de_service/_delete_form.html.twig') }}#} 

 

{% endblock %}
